@font-face {
    font-family: 'nazanin';
    src: url('http://cdn.font-store.ir/fonts/nazanin/Nazanin-Regular.woff2') format('woff2'),
        url('http://cdn.font-store.ir/fonts/nazanin/Nazanin-Regular.woff') format('woff'),
        url('http://cdn.font-store.ir/fonts/nazanin/Nazanin-Regular.ttf') format('truetype'),
        url('http://cdn.font-store.ir/fonts/nazanin/Nazanin-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nazanin';
    src: url('http://cdn.font-store.ir/fonts/nazanin/Nazanin-Bold.woff2') format('woff2'),
        url('http://cdn.font-store.ir/fonts/nazanin/Nazanin-Bold.woff') format('woff'),
        url('http://cdn.font-store.ir/fonts/nazanin/Nazanin-Bold.ttf') format('truetype'),
        url('http://cdn.font-store.ir/fonts/nazanin/Nazanin-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

:root {
    --base: #FFC914;
    --space: 10px;
    --blur: 10px;
}

body {
    direction: rtl;
    font-family: 'nazanin';
    text-align: center;
    background: #E38AFC;
    font-size: 30px;
    color: #2E282A;
}

img {
    padding: var(--space);
    background: var(--base);
    filter: blur(var(--blur));
}

h2 {
    font-size: 40px;

    color: white;
    background: #f857a6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5858, #f857a6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5858, #f857a6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 5px;
}

.name {
    color: var(--base);
    font-size: 45px;
}



.controls {
    margin-bottom: 50px;
    vertical-align: middle;
    margin-top: 20px;
}

.input {
    margin-bottom: 20px;
}

.controls label {
    background-color: white;
    margin: 5px;
    padding: 7px;
    border-radius: 10px;
}

@media only screen and (max-width: 800px) {
    .controls label {
        display: block;
        width: 70%;
        margin: 4px auto;
    }

    /* .input{
        display: block;
    } */
}